ion-modal {
  --background: linear-gradient(to right, #232526, #414345);

  &::part(content) {
    backdrop-filter: blur(6px);
  }

  ion-content {
    --background: transparent;
    --padding-top: 20vh;
    --padding-start: 20px;
    --padding-end: 20px;
  }

  ion-datetime {
    border-radius: 10px;
    font-size: 13px;
  }
}

ion-header{
  .iic{
    font-size: 14px;
  }
}

ion-content {
  --padding-top: 10vh;
  --padding-start: 20px;
  --padding-end: 20px;
  background-color: linear-gradient(to right,#ece9e6,#ffffff);
}

.custom-card {
  background: linear-gradient(to right, #232526, #414345);
  border-radius: 25px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  ion-item {
    --inner-border-width: 0;
    --inner-border-color: transparent;
    --background: transparent;
    font-size: 20px;
    color: #fff;

    ion-icon {
      font-size: 25px;
      margin-right: 10px;
      color: #fff;
    }

    ion-label {
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
  }

  .task-name {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
  }

  .task-due-date {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .task-update,
  .task-cancel {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .task-category {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .category-selected {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-left: 10px;
  }

}
